.about {

  @include r($mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 46px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}