<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body class="body body--lightgray">
<%= htmlWebpackPlugin.options.widgets.headerDark %>
<div class="main">
    <%= htmlWebpackPlugin.options.widgets.breadcrumbs %>
    <%= htmlWebpackPlugin.options.widgets.mainSlider %>
    <section class="section pb-50">
        <div class="container">
            <div class="slider slider--auto slider--head" data-slider="default">
                <div class="slider__head">
                    <h2 class="title">Афиша юбилейных мероприятий</h2>
                    <div class="swiper-controls mob-hidden">
                        <button class="swiper-button swiper-button-prev">
                            <svg class="swiper-button__icon icon">
                                <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                        <button class="swiper-button swiper-button-next">
                            <svg class="swiper-button__icon icon">
                                <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="article-news">
                                <div class="article-news__head">
                                    <p class="label">9 сентября, 12:00-21:00</p>
                                    <p class="label">10 сентября, 12:00-21:00</p>
                                </div>
                                <div class="article-news__content">
                                    <p class="epigraph epigraph--small">фестиваль</p>
                                    <h3 class="article-news__title title title--small mb-18">
                                        Благотворительный фестиваль<br>
                                        «Добрый ноябрьск»
                                    </h3>
                                    <p class="article-news__text text">
                                        40 крупнейших благотворительных фондов и общественных организаций собирают на
                                        Цветном бульваре неравнодушных москвичей на творческие мастер-классы, ярмарки с
                                        поделками подопечных фондов.
                                    </p>
                                </div>
                                <div class="article-news__footer">
                                    <div class="place">
                                        <svg class="place__icon icon">
                                            <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                        </svg>
                                        <span>Цветной бульвар</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="article-news">
                                <div class="article-news__head">
                                    <p class="label">9 сентября, 12:00-21:00</p>
                                    <p class="label">10 сентября, 12:00-21:00</p>
                                </div>
                                <div class="article-news__content">
                                    <p class="epigraph epigraph--small">фестиваль</p>
                                    <h3 class="article-news__title title title--small mb-18">
                                        Благотворительный фестиваль<br>
                                        «Добрый ноябрьск»
                                    </h3>
                                    <p class="article-news__text text">
                                        40 крупнейших благотворительных фондов и общественных организаций собирают на
                                        Цветном бульваре неравнодушных москвичей на творческие мастер-классы, ярмарки с
                                        поделками подопечных фондов.
                                    </p>
                                </div>
                                <div class="article-news__footer">
                                    <div class="place">
                                        <svg class="place__icon icon">
                                            <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                        </svg>
                                        <span>Цветной бульвар</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="article-news">
                                <div class="article-news__head">
                                    <p class="label">9 сентября, 12:00-21:00</p>
                                    <p class="label">10 сентября, 12:00-21:00</p>
                                </div>
                                <div class="article-news__content">
                                    <p class="epigraph epigraph--small">фестиваль</p>
                                    <h3 class="article-news__title title title--small mb-18">
                                        Благотворительный фестиваль<br>
                                        «Добрый ноябрьск»
                                    </h3>
                                    <p class="article-news__text text">
                                        40 крупнейших благотворительных фондов и общественных организаций собирают на
                                        Цветном бульваре неравнодушных москвичей на творческие мастер-классы, ярмарки с
                                        поделками подопечных фондов.
                                    </p>
                                </div>
                                <div class="article-news__footer">
                                    <div class="place">
                                        <svg class="place__icon icon">
                                            <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                        </svg>
                                        <span>Цветной бульвар</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="article-news">
                                <div class="article-news__head">
                                    <p class="label">9 сентября, 12:00-21:00</p>
                                    <p class="label">10 сентября, 12:00-21:00</p>
                                </div>
                                <div class="article-news__content">
                                    <p class="epigraph epigraph--small">фестиваль</p>
                                    <h3 class="article-news__title title title--small mb-18">
                                        Благотворительный фестиваль<br>
                                        «Добрый ноябрьск»
                                    </h3>
                                    <p class="article-news__text text">
                                        40 крупнейших благотворительных фондов и общественных организаций собирают на
                                        Цветном бульваре неравнодушных москвичей на творческие мастер-классы, ярмарки с
                                        поделками подопечных фондов.
                                    </p>
                                </div>
                                <div class="article-news__footer">
                                    <div class="place">
                                        <svg class="place__icon icon">
                                            <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                        </svg>
                                        <span>Цветной бульвар</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pb-50">
        <div class="container">
            <div class="slider slider--auto slider--head" data-slider="default">
                <div class="slider__head">
                    <h2 class="title">События</h2>
                    <div class="swiper-controls mob-hidden">
                        <button class="swiper-button swiper-button-prev">
                            <svg class="swiper-button__icon icon">
                                <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                        <button class="swiper-button swiper-button-next">
                            <svg class="swiper-button__icon icon">
                                <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="article-news article-news--with-picture" data-fancybox data-src="#0">
                                <div class="article-news__head">
                                    <p class="label label--gradient">до 10 сентября</p>
                                </div>
                                <picture class="article-news__picture">
                                    <img src="./assets/images/winter-forest.png" alt="">
                                </picture>
                                <div class="article-news__content">
                                    <p class="epigraph epigraph--small">концерт</p>
                                    <h3 class="article-news__title title title--small mb-18">
                                        фестиваль <br> “День города”
                                    </h3>
                                    <p class="article-news__text text">
                                        На 26 площадках 8 — 10 сентября проведут бесплатные познавательные
                                        мастер-классы, семейные спортивные состязания, уличные спектакли,
                                        концерты и шоу-программы. Московские рестораторы предложат изысканную
                                        гастрономическую программу
                                        На 26 площадках 8 — 10 сентября проведут бесплатные познавательные
                                        мастер-классы, семейные спортивные состязания, уличные спектакли,
                                        концерты и шоу-программы. Московские рестораторы предложат изысканную
                                        гастрономическую программу
                                    </p>
                                </div>
                                <div class="article-news__footer">
                                    <button class="button button--normal button--purple">
                                        Подробнее
                                    </button>
                                </div>
                                <div class="article-news__modal">
                                    <div class="modal modal--line modal--no-close" id="0">
                                        <button class="modal__close" data-modal-close>
                                            <svg class="modal__icon">
                                                <use xlink:href="./assets/sprite.svg#icon-cross"></use>
                                            </svg>
                                        </button>
                                        <div class="slider slider--thumbs" data-slider="thumbs">
                                            <div class="swiper">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--swiper" data-fancybox="guests"
                                                                 data-src="./assets/images/gallery-1.png">
                                                            <img src="./assets/images/gallery-1.png" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--swiper" data-fancybox="guests"
                                                                 data-src="./assets/images/gallery-3.png">
                                                            <img src="./assets/images/gallery-3.png" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--swiper" data-fancybox="guests"
                                                                 data-src="./assets/images/gallery-5.png">
                                                            <img src="./assets/images/gallery-5.png" alt="">
                                                        </picture>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper swiper--thumb">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--thumbs picture--swiper">
                                                            <img src="./assets/images/gallery-1.png" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--thumbs picture--swiper">
                                                            <img src="./assets/images/gallery-3.png" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--thumbs picture--swiper">
                                                            <img src="./assets/images/gallery-5.png" alt="">
                                                        </picture>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="article-news article-news--line">
                                            <div class="article-news__info">
                                                <div class="article-news__head">
                                                    <p class="label label--gradient">до 10 сентября</p>
                                                </div>
                                                <div class="article-news__content">
                                                    <p class="epigraph epigraph--small">концерт</p>
                                                    <h3 class="article-news__title title title--small mb-18">
                                                        фестиваль <br> “День города”
                                                    </h3>
                                                    <p class="article-news__text text">
                                                        На 26 площадках 8 — 10 сентября проведут бесплатные
                                                        познавательные
                                                        мастер-классы, семейные спортивные состязания, уличные
                                                        спектакли,
                                                        концерты и шоу-программы. Московские рестораторы предложат
                                                        изысканную
                                                        гастрономическую программу
                                                        На 26 площадках 8 — 10 сентября проведут бесплатные
                                                        познавательные
                                                        мастер-классы, семейные спортивные состязания, уличные
                                                        спектакли,
                                                        концерты и шоу-программы. Московские рестораторы предложат
                                                        изысканную
                                                        гастрономическую программу
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="article-news article-news--with-picture" data-fancybox data-src="#1">
                                <div class="article-news__head">
                                    <p class="label label--gradient">до 10 сентября</p>
                                </div>
                                <picture class="article-news__picture">
                                    <img src="./assets/images/winter-forest.png" alt="">
                                </picture>
                                <div class="article-news__content">
                                    <p class="epigraph epigraph--small">концерт</p>
                                    <h3 class="article-news__title title title--small mb-18">
                                        фестиваль <br> “День города”
                                    </h3>
                                    <p class="article-news__text text">
                                        На 26 площадках 8 — 10 сентября проведут бесплатные познавательные
                                        мастер-классы, семейные спортивные состязания, уличные спектакли,
                                        концерты и шоу-программы. Московские рестораторы предложат изысканную
                                        гастрономическую программу
                                        На 26 площадках 8 — 10 сентября проведут бесплатные познавательные
                                        мастер-классы, семейные спортивные состязания, уличные спектакли,
                                        концерты и шоу-программы. Московские рестораторы предложат изысканную
                                        гастрономическую программу
                                    </p>
                                </div>
                                <div class="article-news__footer">
                                    <button class="button button--normal button--purple">
                                        Подробнее
                                    </button>
                                </div>
                                <div class="article-news__modal">
                                    <div class="modal modal--line modal--no-close" id="1">
                                        <button class="modal__close" data-modal-close>
                                            <svg class="modal__icon">
                                                <use xlink:href="./assets/sprite.svg#icon-cross"></use>
                                            </svg>
                                        </button>
                                        <div class="slider slider--thumbs" data-slider="thumbs">
                                            <div class="swiper">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--swiper" data-fancybox="guests"
                                                                 data-src="./assets/images/gallery-1.png">
                                                            <img src="./assets/images/gallery-1.png" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--swiper" data-fancybox="guests"
                                                                 data-src="./assets/images/gallery-3.png">
                                                            <img src="./assets/images/gallery-3.png" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--swiper" data-fancybox="guests"
                                                                 data-src="./assets/images/gallery-5.png">
                                                            <img src="./assets/images/gallery-5.png" alt="">
                                                        </picture>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper swiper--thumb">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--thumbs picture--swiper">
                                                            <img src="./assets/images/gallery-1.png" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--thumbs picture--swiper">
                                                            <img src="./assets/images/gallery-3.png" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--thumbs picture--swiper">
                                                            <img src="./assets/images/gallery-5.png" alt="">
                                                        </picture>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="article-news article-news--line">
                                            <div class="article-news__info">
                                                <div class="article-news__head">
                                                    <p class="label label--gradient">до 10 сентября</p>
                                                </div>
                                                <div class="article-news__content">
                                                    <p class="epigraph epigraph--small">концерт</p>
                                                    <h3 class="article-news__title title title--small mb-18">
                                                        фестиваль <br> “День города”
                                                    </h3>
                                                    <p class="article-news__text text">
                                                        На 26 площадках 8 — 10 сентября проведут бесплатные
                                                        познавательные
                                                        мастер-классы, семейные спортивные состязания, уличные
                                                        спектакли,
                                                        концерты и шоу-программы. Московские рестораторы предложат
                                                        изысканную
                                                        гастрономическую программу
                                                        На 26 площадках 8 — 10 сентября проведут бесплатные
                                                        познавательные
                                                        мастер-классы, семейные спортивные состязания, уличные
                                                        спектакли,
                                                        концерты и шоу-программы. Московские рестораторы предложат
                                                        изысканную
                                                        гастрономическую программу
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="article-news article-news--with-picture" data-fancybox data-src="#2">
                                <div class="article-news__head">
                                    <p class="label label--gradient">до 10 сентября</p>
                                </div>
                                <picture class="article-news__picture">
                                    <img src="./assets/images/winter-forest.png" alt="">
                                </picture>
                                <div class="article-news__content">
                                    <p class="epigraph epigraph--small">концерт</p>
                                    <h3 class="article-news__title title title--small mb-18">
                                        фестиваль <br> “День города”
                                    </h3>
                                    <p class="article-news__text text">
                                        На 26 площадках 8 — 10 сентября проведут бесплатные познавательные
                                        мастер-классы, семейные спортивные состязания, уличные спектакли,
                                        концерты и шоу-программы. Московские рестораторы предложат изысканную
                                        гастрономическую программу
                                        На 26 площадках 8 — 10 сентября проведут бесплатные познавательные
                                        мастер-классы, семейные спортивные состязания, уличные спектакли,
                                        концерты и шоу-программы. Московские рестораторы предложат изысканную
                                        гастрономическую программу
                                    </p>
                                </div>
                                <div class="article-news__footer">
                                    <button class="button button--normal button--purple">
                                        Подробнее
                                    </button>
                                </div>
                                <div class="article-news__modal">
                                    <div class="modal modal--line modal--no-close" id="2">
                                        <button class="modal__close" data-modal-close>
                                            <svg class="modal__icon">
                                                <use xlink:href="./assets/sprite.svg#icon-cross"></use>
                                            </svg>
                                        </button>
                                        <div class="slider slider--thumbs" data-slider="thumbs">
                                            <div class="swiper">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--swiper" data-fancybox="guests"
                                                                 data-src="./assets/images/gallery-1.png">
                                                            <img src="./assets/images/gallery-1.png" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--swiper" data-fancybox="guests"
                                                                 data-src="./assets/images/gallery-3.png">
                                                            <img src="./assets/images/gallery-3.png" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--swiper" data-fancybox="guests"
                                                                 data-src="./assets/images/gallery-5.png">
                                                            <img src="./assets/images/gallery-5.png" alt="">
                                                        </picture>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper swiper--thumb">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--thumbs picture--swiper">
                                                            <img src="./assets/images/gallery-1.png" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--thumbs picture--swiper">
                                                            <img src="./assets/images/gallery-3.png" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture picture--thumbs picture--swiper">
                                                            <img src="./assets/images/gallery-5.png" alt="">
                                                        </picture>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="article-news article-news--line">
                                            <div class="article-news__info">
                                                <div class="article-news__head">
                                                    <p class="label label--gradient">до 10 сентября</p>
                                                </div>
                                                <div class="article-news__content">
                                                    <p class="epigraph epigraph--small">концерт</p>
                                                    <h3 class="article-news__title title title--small mb-18">
                                                        фестиваль <br> “День города”
                                                    </h3>
                                                    <p class="article-news__text text">
                                                        На 26 площадках 8 — 10 сентября проведут бесплатные
                                                        познавательные
                                                        мастер-классы, семейные спортивные состязания, уличные
                                                        спектакли,
                                                        концерты и шоу-программы. Московские рестораторы предложат
                                                        изысканную
                                                        гастрономическую программу
                                                        На 26 площадках 8 — 10 сентября проведут бесплатные
                                                        познавательные
                                                        мастер-классы, семейные спортивные состязания, уличные
                                                        спектакли,
                                                        концерты и шоу-программы. Московские рестораторы предложат
                                                        изысканную
                                                        гастрономическую программу
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%= htmlWebpackPlugin.options.widgets.program %>
</div>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>