<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.widgets.headerDark %>
<div class="main">
    <%= htmlWebpackPlugin.options.widgets.breadcrumbs %>
    <%= htmlWebpackPlugin.options.widgets.facts %>
</div>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>